name: Qt CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_Linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Adding gtest
      run: git clone https://github.com/google/googletest.git third-party/gtest -b release-1.11.0

    - name: Config webpage_button with tests
      run: cmake -H. -B ${{github.workspace}}/build -DBUILD_TESTS=ON
    
    - name: Test webpage_button
      run: cmake --build _build --target test -- ARGS=--verbose

    - name: Build webpage_button
      run: cmake --build ${{github.workspace}}/build